<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>主页</title>
    <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
    <link rel="shortcut icon" href="#" />
    <script type="text/javascript" src="../easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../JS/paper/paper.js"></script>
    <style type="text/css">
    .define-head {
        font-family: Verdana,Geneva,sans-serif;
        background-color: #EFEFEF;
        height: 80px;
        overflow: hidden;
        }

    .define-head .define-logo {
        height: 80px;
        width: 100%;
        float: left;
            }

    .define-head .define-logo #LoginTopLine {
        letter-spacing: 2px;
        margin: 20px 0px 0px 10px;
        text-shadow: 3px 1px 6px #fff;
        color: #15428B;
        font-size: 36px;
        height: 40px;
        line-height: 30px;
        padding-left: 150px;
    }

    .define-head .define-logo #LoginBotoomLine {
        letter-spacing: 2px;
        text-shadow: 3px 1px 6px #fff;
        color: #15428B;
        font-size: 16px;
        height: 15px;
        line-height: 15px;
        padding-left: 65px;
    }
    </style>
</head>
<body class="easyui-layout">
    <div data-options="region:'north',border:false,split:false" style="height:80px; overflow:hidden">
        <div class="define-head">
            <div class="define-logo">
                <div id="LoginTopLine">扬州大学教师工作量核算管理系统</div>
            </div>
        </div>
    </div>
    <div data-options="region:'south',border:false" style="height:20px;">
        <div class="define-bottom">

        </div>
    </div>
    <div data-options="region:'center',border:false">
        <div style="width:100%;height:100%;position: relative;">
            <div id="LeftMenuDiv" style="width: 200px;height:600px;display: inline-block;">
                <div class="easyui-panel" title="菜单" style="width:100%;height:100%;overflow-x:hidden;overflow-y:auto;" data-options="onOpen:onPanelOpen">
                    <div id="LeftMenu">
                    </div>
                </div>
            </div>

            <div id="mainTab" class="easyui-tabs" data-options="fit:true,onSelect:onTabSelect" style="display: inline-block; position: absolute;">
                <div title="欢迎页面" data-options="closable:true" style="overflow:hidden;background-color:#fff;">
                    <img src="../Images/show.png" alt="扬州大学水利科学与工程学院" />
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        $('#LeftMenu').sidemenu({
            data: [{
                text: '工作量核算',
                iconCls: 'icon-more',
                state: 'open',
                children: [{
                    text: '本科生教学工作量',
                }, {
                    text: '研究生教学工作量',
                }, {
                    text: '本科生研究工作量',
                }, {
                    text: '研究生研究工作量',
                }, {
                    text: '科研项目工作量',
                }, {
                    text: '学术论文工作量',
                }, {
                    text: '专著教材工作量',
                }, {
                    text: '获奖成果工作量',
                }, {
                    text: '知识产权工作量',
                }, {
                    text: '工作量汇总',
                }]
            }],
            onSelect: onSideMenuSelect,
            border: false
        });
    });
    function onPanelOpen() {
        var panel = $(this);
        var _1e = panel.panel("header").children("div.panel-tool");
        _1e.children("a.panel-tool-collapse").hide();

        var _20 = "layout-button-left";// + _1f[dir];
        var t = _1e.children("a." + _20);
        if (!t.length) {
            t = $("<a href=\"javascript:;\"></a>").addClass(_20).appendTo(_1e);
            t.bind("click", { dir: "left" }, function (e) {
                if (e.target.className == "layout-button-right") {
                    e.target.className = "layout-button-left"
                    onWestExpand();
                    panel.panel("setTitle", panel.titleTemp);
                    panel.panel('resize', {
                        width: 202
                    });

                    var leftMenuDiv = $('#LeftMenuDiv');
                    leftMenuDiv.each(function () {
                        this.style.width = '202px';
                    });
                }
                else {
                    e.target.className = "layout-button-right"
                    onWestCollapse();
                    var opt = panel.panel('options');
                    panel.titleTemp = opt.title;
                    panel.panel("setTitle", "");
                    panel.panel('resize', {
                        width: 42
                    });

                    var leftMenuDiv = $('#LeftMenuDiv');
                    leftMenuDiv.each(function () {
                        this.style.width = '42px';
                    });
                }

                return false;
            });
        }
    }

    function onTabSelect(title, index) {
        var tabs = $('#mainTab');
        var tab = tabs.tabs('getTab', index);
        var menus = $('#LeftMenu');
        if (menus.hasClass('sidemenu')) {
            var opts = menus.sidemenu("options");
            changeMenuSelect(menus, opts, tab[0].id);
        }
    }

    function onWestCollapse() {
        var opts = $('#LeftMenu').sidemenu('options');
        if (opts.collapsed != 'collapse') {
            $('#LeftMenu').sidemenu('collapse');
            $('#LeftMenu').sidemenu('resize', {
                width: 40
            });
        }
    }

    function onWestExpand() {
        var opts = $('#LeftMenu').sidemenu('options');
        if (opts.collapsed != 'expand') {
            $('#LeftMenu').sidemenu('expand');
            $('#LeftMenu').sidemenu('resize', {
                width: 200
            });
        }
    }

    function onSideMenuSelect(item) {
        var node_text = item.text;
        var iframe_html = "";
        switch (node_text) {
            case ("本科生教学工作量"):
                var href = 'undergraduateTeach.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("研究生教学工作量"):
                var href = 'postgraduateTeach.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("本科生研究工作量"):
                var href = 'undergraduateResearch.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("研究生研究工作量"):
                var href = 'postgraduateResearch.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("科研项目工作量"):
                var href = 'project.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("学术论文工作量"):
                var href = 'paper.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("专著教材工作量"):
                var href = 'textbook.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("获奖成果工作量"):
                var href = 'prizewinning.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("知识产权工作量"):
                var href = 'intellectualProperty.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
            case ("工作量汇总"):
                var href = 'workload.html';
                var iframe_html = '<iframe scrolling="auto" frameborder="0"  src="' + href + '" style="width:100%;height:99%;"></iframe>';
                break;
        }
        //switch语句进行区分
        if (!$('#mainTab').tabs('exists', item.text)) {
            $('#mainTab').tabs('add', {
                title: item.text,
                content: iframe_html,
                closable: true,
                id: item.id
            });
        } else {
            $('#mainTab').tabs('select', item.text);
        }
        addTabMenu();
    }

    function addTabMenu() {
        $(".tabs-inner").dblclick(function () {
            var subtitle = $(this).children(".tabs-closable").text();
            $('#mainTab').tabs('close', subtitle);
        });
        $(".tabs-inner").bind('contextmenu', function (e) {
            $('#tab_menu').menu('show', {
                left: e.pageX,
                top: e.pageY
            });

            var subtitle = $(this).children(".tabs-closable").text();

            $('#tab_menu').data("currtab", subtitle);
            $('#mainTab').tabs('select', subtitle);
            return false;
        });
    }

    function changeMenuSelect(menus, opts, selectId) {
        var menutrees = menus.find(".sidemenu-tree");
        menutrees.each(function () {
            var menuItem = $(this);
            changeMenuStyle(menuItem, opts, selectId);
        });

        var tooltips = menus.find(".tooltip-f");
        tooltips.each(function () {
            var menuItem = $(this);
            var tip = menuItem.tooltip("tip");
            if (tip) {
                tip.find(".sidemenu-tree").each(function () {
                    changeMenuStyle($(this), opts, selectId);
                });
                menuItem.tooltip("reposition");
            }
        });
    }

    function changeMenuStyle(menuItem, opts, selectId) {
        menuItem.find("div.tree-node-selected").removeClass("tree-node-selected");
        var node = menuItem.tree("find", selectId);
        if (node) {
            $(node.target).addClass("tree-node-selected");
            opts.selectedItemId = node.id;
            menuItem.trigger("mouseleave.sidemenu");
        }

        changeMenuSelect(menuItem);
    }
</script>
