<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>研究生教学研究工作量</title>
    <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
    <link rel="shortcut icon" href="#" />
    <script type="text/javascript" src="../easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../JS/datagridRowEdit.js"></script>
    <script type="text/javascript" src="../JS/postgraduateResearch/postgraduateResearch_add.js"></script>
</head>
<body>
    <form id="postgraduateResearchInfo_form" method="post" action="">
        <table cellpadding="5">
            <tr>
                <td class="left">名称:</td>
                <td class="right">
                    <input id="postgraduateResearch_title" name="postgraduateResearch_title" class="easyui-textbox" data-options="required:true" />
                </td>
            </tr>

            <tr id="postgraduateResearch_grade_tr">
                <td class="left">类别:</td>
                <td class="right">
                    <select class="easyui-combogrid" id="postgraduateResearch_grade" name="postgraduateResearch_grade"></select>
                </td>
            </tr>
            <tr>
                <td class="left">参与人数:</td>
                <td class="right">
                    <select class="easyui-combobox" id="author_num" name="author_num">
                        <option value="1" selected="selected">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                </td>
            </tr>
        </table>

        <table id="datagrid" class="easyui-datagrid" style="height:auto;width: 605px;"></table>
        <table id="postgraduateResearch_info_table" cellpadding="5">
            <tr>
                <td class="left">取得时间:</td>
                <td class="right">
                    <input class="easyui-datebox" type="text" id="postgraduateResearch_time" name="postgraduateResearch_time" data-options="required:true" />
                </td>
            </tr>

            <tr>
                <td class="left">年度:</td>
                <td class="right">
                    <input id="yearChoose" name="yearChoose" class="easyui-combobox" type="text" value="" />
                </td>
            </tr>

            <tr>
                <td class="left">备注:</td>
                <td class="right"><input class="easyui-textbox" type="text" id="postgraduateResearch_remarks" name="postgraduateResearch_remarks" data-options="multiline:true" style="width: 500px;height:60px" /></td>
            </tr>
        </table>
    </form>
</body>
</html>
<style>
    .left {
        width: 110px;
    }

    .right input {
        width: 500px;
    }

    .right select {
        width: 500px;
    }
</style>
