<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>科研项目信息</title>
    <link rel="stylesheet" type="text/css" href="../easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="../easyui/themes/icon.css">
    <link rel="shortcut icon" href="#" />
    <script type="text/javascript" src="../easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../JS/project/project_add.js"></script>

</head>
<body>
    <form id="projectInfo_form" method="post" action="">
        <table cellpadding="5">
            <tr>
                <td class="left">项目名称:</td>
                <td class="right">
                    <input id="project_title" name="project_title" class="easyui-textbox" />
                </td>
            </tr>

            <tr>
                <td class="left">负责人名字:</td>
                <td class="right">
                    <input id="project_personname" name="project_personname" class="easyui-textbox" />
                </td>
            </tr>

            <tr>
                <td class="left">项目级别:</td>
                <td class="right">
                    <select class="easyui-combogrid" id="project_grade" name="project_grade"></select>
                </td>
            </tr>
            <tr>
                <td class="left">立项时间:</td>
                <td class="right">
                    <input class="easyui-datebox" type="text" id="project_time" name="project_time" />
                </td>
            </tr>

            <tr>
                <td class="left">备注:</td>
                <td class="right"><input class="easyui-textbox" type="text" id="project_remarks" name="project_remarks" data-options="multiline:true" style="width: 500px;height:60px" /></td>
            </tr>
        </table>
    </form>

</body>
</html>
<style>
    .left {
        width: 110px;
    }

    .right input {
        width: 500px;
    }

    .right select {
        width: 500px;
    }
</style>
